<div *ngIf="entrar2">

    <header class="encabezado">
        <div class="logo1">
            <img src="./assets/images/garra1.png" width="100" alt=""/>
        </div>
        <p class="t0">
            ---------------------------------------------------------
        </p>
        <p class="t1">
            Menú Principal Administrador
        </p>
        <p class="t2">
            ---------------------------------------------------------
        </p>
        <div class="logo3">
            <img src="./assets/images/user.png" width="100" alt=""/>
        </div>
    </header>

    <div class="contenedor">
        <a routerLink="agregarSocio" routerLinkActive="active" class="boton1">Agregar Socio</a>
        <a routerLink="modificarSocio" routerLinkActive="active" class="boton1">Modificar Socioo</a>
        <a routerLink="eliminarSocio" routerLinkActive="active" class="boton1">Eliminar Socio</a>
    </div>
    
</div>

<div *ngIf="salir2">

</div>