* {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 20px auto;
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300%;
    color: black;
}

.img1 {
    float: left;
}

.d1 {
    width: 40%;
    height: 500px;
    background: orange;
    margin: 20px 50px;
    float: left;
}

.p1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
    color: black;
    padding: 45px 45px;
}

.formulario {
    padding: 150px 230px;
}