* {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 20px auto;
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300%;
    color: black;
}

.img1 {
    float: left;
}

.d1 {
    width: 40%;
    height: 500px;
    background: orange;
    margin: 20px 50px;
    float: left;
}

.p1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    color: black;
    padding: 30px 80px;
}

.formulario {
    margin: 0 auto;
    padding: 70px;
}

input {
    margin-bottom: 20px;
    padding: .5em;
}

.boton {
    margin: 130px;
    padding: 10px 30px;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    text-decoration: none;
}

a:hover {
    color: orange;
}

ul {
    list-style: none;
}

form li + li {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 150px;
    text-align: right;
}