* {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 20px auto;
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300%;
    color: black;
}

.img1 {
    float: left;
}

.d1 {
    width: 40%;
    height: 500px;
    background: orange;
    margin: 20px 50px;
    float: left;
}

.p1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
    color: black;
    padding: 100px 190px;
}

.boton1 {
    margin: 90px;
    padding: 20px 25px;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    text-decoration: none;
}

.boton2 {
    margin: 50px;
    padding: 20px 25px;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    text-decoration: none;
}

a:hover {
    color: orange;
}