<div *ngIf="entrar">

    <header class="encabezado">
        <div class="logo1">
            <img src="garra1.png" width="100" alt=""/>
        </div>
        <p class="t0">
            ---------------------------------------------------------------------------------
        </p>
        <p class="t1">
            Menú Principal Socio
        </p>
        <p class="t2">
            ---------------------------------------------------------------------------------
        </p>
        <div class="logo3">
            <img src="user.png" width="100" alt=""/>
        </div>
    </header>

    <div class="contenedor">
        
    </div>
    
  </div>